.carouselTile {
  width: 33.3%;
  transition: 0.2s;
  border-top: 1px solid #C0B596;
  &:nth-of-type(2) {
    border-left: 1px solid white;
    border-right: 1px solid white;
  }
  &:hover {
    box-shadow: 0 1px 5px 0 rgba(192,181,150, 0.6);
    transition: 0.2s;
    & .imageContainer {
      height: 400px;
      transition: 0.2s;
    }
  }
  .imageContainer {
    height: 450px;
    background-color: #BBBBBB;
  }
  .textContainer {
    padding: 40px 0 15px;
    &--name {
      font-size: 24px;
      margin-bottom: 10px;
      // color: ${props => props.theme.colors.black};
      // ${props => props.theme.mixins.playfair}
      font-weight: 400;
    }
    // &--job {
      // color: ${props => props.theme.colors.secondary};
      // ${props => props.theme.mixins.openSans}
    // }
  }
}